body {
  color: white;
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: black;
}

/* MAIN HEADER */
h1 {
  color: red;
  text-align: center;
  margin-bottom: 30px;
}

/* MULTIPLE CONTAINERS */
.container {
  width: 80%;
  margin: 25px auto;
  background: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

h2 {
  color: red;
  margin-top: 10px;
}

ul {
  line-height: 1.7;
}

/* PROFILE PICTURE AREA */
.gallery {
  text-align: center;
  margin-top: 40px;
}

.gallery img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  border: 2px solid red;
}
